/* Add your custom CSS styles here */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#ppl-widget-container {
  background-color: #d8d7d7;
}
.loading {
  color: black;

  padding: 10px;
  background-color: #d8d7d7;
}
.xpapers_abstract {
  font-size: smaller;
  padding: 2px;
}

.xpapers_pubInfo {
  color: #a6adbb;
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(18, 18, 18);
  margin-bottom: 4px;
  margin-left: -40px;
}
.xpapers_pubInfo:hover {
  background-color: rgb(0, 0, 0);
}
.xpapers_pubtype {
  /* center */
  color: rgb(18, 18, 18);
  text-align: center;
  padding: 15px;
  margin-bottom: 5px;
}
.publication-title {
  color: rgb(40, 161, 218);
  font-weight: bold;
  text-decoration: none;
}
.publication-title:hover {
  color: rgb(40, 218, 96);
  font-weight: bold;
  text-decoration: underline;
}
.pub-source {
  color: rgba(255, 255, 0, 0.763);
}

.pub-source a {
  color: rgba(255, 255, 0, 0.763);
}

.xpapers_extras {
  background-color: rgb(18, 18, 18);
}
.truncated-content {
  color: #a6adbb;
  
}
.read-more {
  color: rgb(0, 128, 124);
}

ul {
  list-style: none;
}
.like-row {
  /* invisible */
  display: none;
}
.like-button {
  /* invisible */
  display: none;
}
.like-button.philwidget-tooltip {
  /* invisible */
  display: none;
}
.tooltiptext {
  /* invisible */
  display: none;
}
.follow-btn__text {
  /* invisible */
  display: none;
}
.fa.fa-check::before {
  /* invisible */
  display: none;
}
.fa.fa-user-plus::before {
  /* invisible */
  display: none;
}
.fa.fa-bullhorn {
  display: none;
}
